@tailwind base;
@tailwind components;
@tailwind utilities;

.text-huge {
  font-size: 25rem;
  color: #181e29;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a202c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4fd1c5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c7a7b;
}
